<div class="flex justify-between items-center gap-6 md:flex-row md:items-center">
    <div class="capitalize flex items-center">
      <img src="public/assets/images/Logo2.png" alt="Logo InspiraVoc" class="mr-4 h-10 w-10" />
      <div class="flex flex-row items-center space-x-1">
        <h1 class="text-gray-800 font-bold text-lg">Inspira</h1>
        <h2 class="text-orange-500 font-bold text-lg">Voc</h2>
      </div>
    </div>
  
    <div class="flex items-center space-x-3 mr-4">
      <div class="relative">
        <img id="userImage" [src]="currentUser?.profileImage || 'assets/images/default-profile.jpg'" alt="Avatar del usuario" class="w-10 h-10 rounded-full border border-gray-300 object-cover">
      </div>
  
      <div class="text-center">
        <p class="font-bold text-gray-800 text-lg">Hola, {{ currentUser?.firstName }}</p>
        <p class="text-sm text-gray-500">{{ currentUser?.role }}</p>
      </div>
    </div>
  </div>
  