<div class="flex justify-between items-center gap-6 md:flex-row md:items-center">
    <div class="capitalize flex items-center">
      <img src="assets/images/Logo2.png" alt="Logo InspiraVoc" class="mr-4 h-10 w-10" />
      <div class="flex flex-row items-center space-x-1">
        <h1 class="text-gray-800 font-bold text-lg">Inspira</h1>
        <h2 class="text-orange-500 font-bold text-lg">Voc</h2>
      </div>
    </div>
  
    <div class="flex items-center space-x-3 mr-4">
      <div class="relative">
      </div>
  
      <div class="text-center">
      </div>
    </div>
  </div>
  