<div class="dashboard-container">
  <div class="sidebar">
    <img [src]="userProfile.profileImage" alt="Foto de perfil" />
    <h2>{{ userProfile.firstName }} {{ userProfile.lastName }}</h2>
    <p>{{ userProfile.email }}</p>
    <p>{{ userProfile.phone }}</p>
    <p>{{ userProfile.role }}</p>
  </div>

  <div class="main-content">
    <div *ngIf="!isEditing" class="section-card">
      <h3>Perfil de Usuario</h3>
      <p><strong>Nombre:</strong> {{ userProfile.firstName }} {{ userProfile.lastName }}</p>
      <p><strong>Email:</strong> {{ userProfile.email }}</p>
      <p><strong>Teléfono:</strong> {{ userProfile.phone }}</p>
      <p><strong>Rol:</strong> {{ userProfile.role }}</p>  
      <div class="buttons-container">
        <button (click)="toggleEdit()">Editar</button>

        <button class="del-button" (click)="openConfirmationDialog()">Eliminar cuenta</button>
        <div class="confirmation-dialog" *ngIf="showConfirmation">
          <p>¿Está seguro de eliminar su perfil?<br>Esta acción es permanente.</p>
          <button (click)="deteleUser()">Sí</button>
          <button (click)="cancelDel()">No</button>

        </div>
      </div>
      
    </div>

    <div *ngIf="isEditing" class="section-card">
      <h3>Editar Perfil</h3>
      <form (ngSubmit)="saveProfile()">
        <label>
          Nombre:
          <input [(ngModel)]="userProfile.firstName" name="fName" required />
        </label>
        <label>
          Apellido:
          <input [(ngModel)]="userProfile.lastName" name="lName" required />
        </label>
        <label>
          Email:
          <input [(ngModel)]="userProfile.email" name="email" required />
        </label>
        <label>
          Teléfono:
          <input [(ngModel)]="userProfile.phone" name="phone" required />
        </label>
        <label>
          Rol:
          <input [(ngModel)]="userProfile.role" name="role" required />
        </label>
        <label>
          Imagen de Perfil:
          <input type="file" (change)="onFileSelected($event)" />
        </label>
        <button type="submit">Guardar</button>
        <button type="button" class="cancel-button" (click)="toggleEdit()">Cancelar</button>
      </form>
    </div>

    
    <div class="section-card">
      <h3>Preferencias</h3>
      <div *ngIf="!isEditingPreferences">
        <div class="icon-section">
          <img src="public/assets/images/tecnologia.jpeg" alt="Icono" width="24" />
          <p>Intereses: {{ interestsAux }}</p>
        </div>
        <div class="icon-section">
          <img src="public/assets/images/español.jpg" alt="Icono" width="24" />
          <p>Idioma: {{ languageAux }}</p>
        </div>
        <div class="icon-section">
          <img src="public/assets/images/peru.png" alt="Icono" width="24" />
          <p>Zona horaria: {{ timezoneAux }}</p>
        </div>
        <button (click)="toggleEditPreferences()">Editar Preferencias</button>
      </div>
    
      <div *ngIf="isEditingPreferences">
        <form (ngSubmit)="savePreferences()">
          <label>
            Intereses:
            <input [(ngModel)]="interestsAux" name="interestsAux" required />
          </label>
          <label>
            Idioma:
            <input [(ngModel)]="languageAux" name="languageAux" required />
          </label>
          <label>
            Zona horaria:
            <input [(ngModel)]="timezoneAux" name="timezoneAux" required />
          </label>
          <button type="submit">Guardar Preferencias</button>
          <button type="button" class="cancel-button" (click)="toggleEditPreferences()">Cancelar</button>
        </form>
      </div>
    </div>
    
    
</div>