
<div class="verif-container">
  
  <form [formGroup]="verificationform" (ngSubmit)="onSubmit()" class="verif-form">

    <div class="img-container">
      <img src="public/assets/images/Logo2.png" alt="logo" class = "img-logo"/>
    </div>

    <p class="verif-subtext vst-mg2">Se ha enviado un código de verificación al correo electrónico ingresado.</p>
    <p class="verif-subtext vst-mg1">Ingrese el código de confirmación:</p>

    <div class="form-group">
      <div class="c-inputs">
        <input matInput maxlength="1" formControlName="c1" (input)="onInput()" placeholder="0" class="c-input" type="text">
        <input matInput maxlength="1" formControlName="c2" (input)="onInput()" placeholder="0" class="c-input" type="text">
        <input matInput maxlength="1" formControlName="c3" (input)="onInput()" placeholder="0" class="c-input" type="text">
        <input matInput maxlength="1" formControlName="c4" (input)="onInput()" placeholder="0" class="c-input" type="text">
        <input matInput maxlength="1" formControlName="c5" (input)="onInput()" placeholder="0" class="c-input" type="text">
        <input matInput maxlength="1" formControlName="c6" (input)="onInput()" placeholder="0" class="c-input" type="text">
      </div>
      <mat-error *ngIf="verificationform.hasError('codigoLength')">
        El código debe tener 6 caracteres
      </mat-error>
    </div>

    <button mat-raised-button color="primary" class="submit-button" type="submit" [disabled]="verificationform.invalid">
      Validar código
    </button>

  </form>

</div>

