<p>activities works!</p>
<div class="side-container">
    <div class="user-profile-container">
        <div class="logo-section">
            <img src="assets/images/Logo2.png" alt="Logo InspiraVoc">
            <h2>InspiraVoc</h2>
            <p>Dispuestos a ayudarte</p>
        </div>
    </div>

    <div class="reminders-container">
        <div class="reminders-header">
            <h3>Actividades</h3>
            <span class="material-icons-sharp notification-icon">notifications_none</span>
        </div>

        <div class="activity-card">
            <div class="icon" style="background-color: #34A853;">
                <span class="material-icons-sharp">devices</span>
            </div>
            <div class="activity-content">
                <h4>Reunión</h4>
                <p>08:00 AM - 10:00 AM</p>
            </div>
            <span class="material-icons-sharp options-icon">more_vert</span>
        </div>

        <div class="activity-card deactive">
            <div class="icon" style="background-color: #F52952;">
                <span class="material-icons-sharp">edit</span>
            </div>
            <div class="activity-content">
                <h4>Test Vocacional</h4>
                <p>08:00 AM - 12:00 PM</p>
            </div>
            <span class="material-icons-sharp options-icon">more_vert</span>
        </div>
    </div>
</div>